@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    font-family: roboto;
    scroll-behavior: smooth;
  }

  body,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
    border: none;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

@layer utilities {
  .masonry {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem; /* Ajusta según gap */
  }
  .masonry > * {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .masonry-cols-1 {
    column-count: 1;
  }
  .masonry-cols-2 {
    column-count: 2;
  }
  .masonry-cols-3 {
    column-count: 3;
  }
}
