---
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/tailwind.css'
---

<Layout title="Pere Marieges Portfolio">
	<main class="flex flex-col px-8">
		<SectionContainer id="about" title="About me">
			<AboutMe/>
		</SectionContainer>
		<SectionContainer id="projects" title="Projects">
			<Projects/>
		</SectionContainer>
		<SectionContainer id="experience" title="Experience">
			<Experience/>
		</SectionContainer>
	</main>
</Layout>

