<div class="w-full p-6">
    <h3 class="mb-2 text-lg text-pretty">Hola, soc en Pere, arquitecte de tercera generació.</h3>
    <p>Vinc d'una família on l'arquitectura sempre ha estat present. El meu avi i el meu oncle, tots dos arquitectes, em van inspirar a seguir aquesta professió i a descobrir el meu propi enfocament en el disseny. Durant els meus estudis a Barcelona, em vaig enganxar especialment a l'arquitectura paisatgística, una àrea que em permet crear espais que connectin amb la naturalesa i millorin la vida de les persones.</p>
    <p>Vaig passar un any estudiant a Roma, una ciutat impressionant que em va ensenyar moltíssim sobre l'equilibri entre història i modernitat en el disseny. Amb aquesta experiència i les meves arrels a l'Ametlla del Vallès, m'apassiona treballar en projectes que integrin de manera natural l'entorn i que generin espais més amables, inspiradors i sostenibles.</p>
</div>
