<header class="py-4 px-20 flex justify-between items-center max-w-7xl mx-auto w-full">
    <img class="rounded-full" 
    src="https://media.licdn.com/dms/image/v2/D4D03AQEOoDYQNHl1_g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1697197390640?e=1736985600&v=beta&t=aINc9RzsPgzDIv6193RNbuPZBTdyX68IPMUHJyy8A2M" 
    alt="Pere Marieges photo"
    width={70}
    height={70}>
    <nav>
      <ul class="flex flex-row gap-8">
        <li>
          <a href="#top">Home</a>
        </li>
        <li>
          <a href="#about">About me</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
</header>
